body {
  overflow: hidden;
  height: 100%;
}

strong, b {
  font-weight: bold;
}

#taille {
  padding-top: 6px;
}

#tranches {
  padding-top: 12px;
  padding-bottom: 3px;
}

#a88 {
  padding-top: 3px;
  padding-bottom: 36px;
}

#position-conteneur {
  padding-top: 20px;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  width: 60px !important;
}

div.outer {
  position: fixed;
  top: 155px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
}

#controls {
  position: fixed;
  top: 190px;
  bottom: auto;
  left: auto;
  right: 20px;
  width: 340px;
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  opacity: 0.85;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#controls:hover {
  opacity: 0.95;
  transition-delay: 0;
}

#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}

.leaflet-container {
  background-color: white !important;
}

#conteneur-filtre, #conteneur-boutons, #conteneur-tbl {
  padding: 10px;
}

#conteneur-paginfo {
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

